@media screen and (max-width: 575px){
  .sumbit-loging{
    margin-right: 20%;
    margin-left: 20%;
  }
 
  .sign-up-loging-input{
    margin-right: 20%;
    margin-left: 20%;
  }

  .password{
    margin-right: 20%;
    margin-left: 20%;
  }
}

@media screen and (min-width: 575px) and (max-width: 680px){

  .sumbit-loging{
    margin-right: 25%;
    margin-left: 25%;
  }
 
  .sign-up-loging-input{
    margin-right: 25%;
    margin-left: 25%;
  }

  .password{
    margin-right: 25%;
    margin-left: 25%;
  }
}