.post {
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    // margin-bottom: 1em;
    display: grid;
    grid-template-columns: .25fr 1fr;
    width: 21em;
    border-radius: .75em;
    background-color: #C4C4C4;
    height: 6em;
}