.make-post-section {
  text-align: center;
  display: grid;
  font-family: 'Open Sans';

  .loading {
    height: 80%;
    width: auto;
    margin: auto;
  }
}

.input-section {
  @extend %make-post-margin;
  margin-top: 1em;
}

.make-post-input {
  @extend %make-post-margin;
  position: relative;

  .post-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      background-color: rgba(255,255,255,.6);
  }

  .hidden {
    display: none;
  }
}

.make-post-field {
  resize: none;
  border-width: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1em;
  border-color: $application-gray;
  outline: none;
  font-family: 'Open Sans';
  font-size: 1em;
  transition: border-color 0.3s linear;
  padding: 1em;
}

.make-post-field:focus{
  border-color: darken($color: $application-gray, $amount: 13%);
}

.tab {
  background-color: $application-gray;
  overflow: hidden;
  @extend %make-post-margin;
  display: flex;
  justify-content: space-around;
  grid-row: 2;
  border-radius: 1em;
}
//^ hover effect is a little off when I place a hover effect the color changes for all not just the non selected


.icons {
  width: 3em;
  height: auto;
  justify-self: center;
}

.media-content{
 border-style: solid;
 outline: none;
}

.tab-links{
  @extend %tabs-input;
  width: 33%;
}

.tab-links:hover{
  @extend %hover-button-gray;
}

.make-post-button{
  grid-row: 5;
  margin-top: 2em;
  height: 1.5em;
  border-radius: 0.5em;
  color:$white;
  font-weight: bold;
  font-size: 1.5em;
  background-color: $application-blue;
  @extend %make-post-margin;
  cursor: pointer;
  outline: none;
  @extend %drop-shodow;
}

.make-post-button:hover {
  @extend %hover-button-blue;
}

.make-post-button:active {
  background-color: $application-gray;
  color:$drop-showdow;
}

.make-post-text{
  @extend %make-post-margin;
  grid-row: 1;
  @extend %title-text;
}

.tab-links-selected {
  background-color: $application-blue;
  color:$white;
  @extend %tabs-input;
  font-size: 0.9em;
  width: 33%;
}

.tab-links-selected:hover{
  @extend %hover-button-blue
}
