.post {
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: .25fr 1fr;
    height: 7em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1em;
    background-color: $application-gray;
    @extend %drop-shodow;
    p {
        margin-top: 0;
        padding-top: 0;
        margin-right: 0.5em;
    }
    .post-left {
        display: grid;
        grid-template-rows: .5fr .5fr;
        .post-left-top {
            display: flex;
            justify-content: center;
            #user-icon {
              @extend %profile-picture;
              margin-top: 0.5em;
            }
        }
        .post-left-bottom {
            display: flex;
            justify-content: center;
            #like-button {
                width: 40px;
                margin-top: 0.5em;
                align-self: center;
                cursor: pointer;
            }
        }
    }

    .post-right {
        display: grid;
        grid-template-rows: .1fr .7fr;
        max-height: 100%;
        overflow-y: scroll;
        .post-right-top {
            margin-top: 0.5em;
            max-height: 1vh;
            max-height: 100%;
            .post-right-top-h {
                float: left;
            }
            h5, h6 {
                margin: 0;
            }
        }
        .post-right-bottom {
            padding-top: 1vh;
            display: flex;
            .post-right-bottom-p {
                float: left;
                text-align: left;
            }
        }
    }
}
