.header-title {
    @extend %title-text;
    margin-top: 1em;
    margin-bottom: 0em;
}

.test {
  grid-template-rows: 1em 1em;
  .map {
    grid-row: 1;
  }
  .next-previous-section {
    grid-row: 2;
  }
}

.previous-button{
  float: left;
  // @extend %tabs-input;
    width: 9em;
    height: 3em;
    background-color:$application-blue;
    border-radius: .75em;
    border: none;
    box-shadow: 1px 4px 9px 0px $drop-showdow;
    color: white;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

.next-button{
  float: right;
  // @extend %tabs-input;
    width: 9em;
    height: 3em;
    background-color:$application-blue;
    border-radius: .75em;
    border: none;
    box-shadow: 1px 4px 9px 0px $drop-showdow;
    color: white;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

.next-button:active{
  @extend %active-button;
}

.previous-button:active{
  @extend %active-button;
}

.next-previous-section {
  // display: inline-flex;
  // margin-top: 3em;
  //   grid-row: 2;
}