// .header-top {
//     display: grid;
//     grid-template-columns: .5fr 1fr .5fr ;
//     grid-row-start: 1;
//     #se-logo {
//         width: 8em;
//         grid-column: 1;
//         justify-self: center;
//         align-self: center;
//         margin-top: -1.5em;
//         grid-row-start: 1;
//     }

//     .header-text {
//         font-family: 'Damion', cursive;
//         grid-column: 2;
//         justify-self: left;
//         align-self: center;
//         font-size: 2.5em;
//         padding: 0;
//         margin: 0;
//         margin-top: -.5em;
//         color:$application-blue;
//         grid-row-start: 1;
//         justify-self: center;
//     }
// }

// .header-bottom {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     background-color: $application-gray;
//     margin-top: -2em;
//     padding-top: .75em;
//     padding-bottom: .75em;
// }

// .bottom-images {
//     width: 3.5em;
//     @extend %button-nav;
// }

// .selected {
//     .bottom-images {
//       width: 3.85em;
//       background-color: $application-blue;
//     }
//     // :hover {
//     //     background-color: en($application-blue, 5%);
//     //   }
// }

// .header-top-buttons {
//     grid-row-start: 1;
//     display: flex;
//     margin-top: -1.2em;
//     text-decoration: none;
// }

// .logon {
//     @extend %button-nav;
//     margin-right: 2em;
//     margin-top: 1em;
//     min-width: fit-content;
//     font-family: "Damion", cursive;
//     outline: none;
//     border: 0;
//     display: inline-flex;
//     color: $application-blue;
// }

// .logon:active {
//   @extend %active-button
// }

// .logon-icons{
//     width: 2em;
// }

// .logout-section{
//     justify-self: right;
//     margin-bottom: 1em;
// }

.header-top {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr ;
    grid-row-start: 1;
    #se-logo {
        width: 8em;
        grid-column: 1;
        justify-self: center;
        align-self: center;
        margin-top: -1.5em;
        grid-row-start: 1;
    }
    .header-text {
        font-family: 'Damion', cursive;
        grid-column: 2;
        justify-self: left;
        align-self: center;
        font-size: 1.75em;
        padding: 0;
        margin: 0;
        margin-top: -1em;
        color:$application-blue;
        grid-row-start: 1;
        justify-self: center;
    }
}
.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: $application-gray;
    margin-top: -2em;
    padding-top: .75em;
    padding-bottom: .75em;
}
.bottom-images {
    width: 3.5em;
    @extend %button-nav;
}
// I can't seem to get darken to work please see
// "selected" for example of it working maybe :focus
.selected {
    .bottom-images {
      width: 3.85em;
      background-color: $application-blue;
    }
    // :hover {
    //     background-color: darken($application-blue, 5%);
    //   }
}
.header-top-buttons {
    // grid-row-start: 1;
    grid-template-rows: 1em 1em;
    margin: 0;
    // display: flex;
    // margin-top: -1.2em;
    // text-decoration: none;
}
.logon {
    @extend %button-nav;
    // margin-right: 2em;
    margin-top: .5em;
    min-width: fit-content;
    font-family: "Damion", cursive;
    outline: none;
    border: 0;
    display: inline-flex;
    color: $application-blue;
    grid-row: 1;
    // :hover {
    //     background-color: darken($application-blue, 5%);
    //   }
    #sign-up {
        grid-row: 1;
    }
    #sign-in {
        grid-row: 2;
    }
}
.logon:active {
    background-color: $application-blue;
    color: $white;
}
.logon-icons{
    width: 1.5em;
}
.logout-section{
    justify-self: right;
    margin-bottom: 1em;
}