.make-post-section {
  text-align: center;
  display: grid;
  font-family: 'Open Sans',
}

.make-post-input {
  @extend %post-input;
}

.input-video-link{
  @extend %post-input;
  display: none;
}

.input-image-link{
  @extend %post-input;
  display: none;
}

.input-image-link-title{
  grid-row: 3;
  @extend %post-input;
  display: none;
}

.tab {
  background-color: $application-gray;
  overflow: hidden;
  @extend %make-post-margin;
  display: flex;
  justify-content: space-around;
  grid-row: 2;
  border-radius: 1em;

}
.icons {
  width: 3em;
  height: auto;
  justify-self: center;
}
.tab-links{
  background-color: $application-gray;
  border-radius: 1em;
  border-color: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @extend %drop-shodow;
  // &:active{
  //   color: red;
  //   font-size: 1rem;
  //   transition: .4s ease;
  // }
}

.tab-content {
  border-radius: 1em;
  border-color: $application-gray;
  border-width: 1em;
}
// .icons {
//   @extend %buttons;
//   background-color: $application-gray;
//   width: 3em;
//   height: auto;
//   justify-self: center;
  
// }

// .make-post-video{
//   grid-column: 3;
// }


.make-post-button{
  grid-row: 5;
  margin-top: 2em;
  height: 1.5em;
  border-radius: 0.5em;
  color:$white;
  font-weight: bold;
  font-size: 1.5em;
  background-color:$application-bue;
  @extend %make-post-margin;
}

.make-post-text{
  @extend %make-post-margin;
  grid-row: 1;
}
