#map {
  // position: float;
  // position: absolute;
  // bottom: 0;
  // top: 30em;
  height: 47%;
  width: 100%;
}
.hidden {
  display: none;
}

.whole-document{
  display: flex;
  flex-direction: column;
}