.the-map {
    display: flex;
    display: grid;
    width: 21em;
    justify-self: center;
    align-self: center;
    margin-top: 3em;
}
.overlays {
    grid-row: 1;
    margin-right: auto;
    margin-left: auto;
    .marker-button {
        border-radius: 1em;
        border: none;
    }
    .marker-img {
        width: 1em
    }
}