.whole-document{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: clamp(29em, 50%, 50%) auto;

  #root {
    grid-row: 1;
    height: min-content;
    width: 100%;
  }

  #map {
    grid-row: 2;
    height: 100%;
    width: 100%;
    padding: 1em;
    z-index: -1;
  }
}

.hidden {
  display: none;
}
