$application-gray: #C4C4C4;
$drop-showdow:#282D33;
$application-blue:#006c92;
$white:#ffff;

%drop-shodow {
  box-shadow: 1px 4px 9px 0px $drop-showdow;
}

%profile-picture {
  border: 1px solid $application-blue;
  border-radius: 100%;
  width: 40px;
  align-self: center;
}

%make-post-margin {
  grid-column: 1 / span 3;
  margin-left: 4em;
  margin-right: 4em;
}


%post-input {
  resize: none;
  grid-row: 4;
  @extend %make-post-margin;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

%tabs-input {
  border-radius: 1em;
  border-color: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @extend %drop-shodow;
  outline: none;
  border: 0;
  width: 33%;
}
