$application-gray: #C4C4C4b3;
$drop-showdow:#282D33;
$application-blue:#006c92;
$white:#ffff;


%drop-shodow {
  box-shadow: 1px 4px 9px 0px $drop-showdow;
}

%profile-picture {
  border: 1px solid $application-blue;
  border-radius: 100%;
  width: 3em;
  max-height: auto;
  align-self: center;
}

%make-post-margin {
  grid-column: 1 / span 3;
  margin-left: 4em;
  margin-right: 4em;
}


%tabs-input {
  border-radius: 1em;
  border-color: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @extend %drop-shodow;
  outline: none;
  border: 0;
  background-color: $application-gray;
}

%button-nav{
  width: 3.5em;
  border-radius: 1em;
  justify-self: center;
  align-self: center;
  background-color: $application-gray;
  color: $application-blue;
  cursor: pointer;
  @extend %drop-shodow;
}

%title-text{
  font-family: 'Damion', cursive;
  text-align: center;
  font-size: 1.5em;
  color: $application-blue;
}

%active-button{
  background-color:$application-gray;
  color:$drop-showdow;
}

%hover-button-gray{
  background-color: darken($application-gray, 5%);
}

%hover-button-blue{
  background-color: darken($application-blue, 5%);
}

%next-prev-button{
  display: inline-flex;
  margin-top: 3em;
  width: 9em;
  height: 3em;
  background-color:$application-blue;
  border-radius: 1em;
  border: none;
  @extend %drop-shodow;
  color: $white;
  place-content: center;
  align-items: center;
  font-weight: bold;
  outline: none;
}

%sign-up-in-input{
  margin-bottom: 1em;
  height: 2em;
  margin-right: 30%;
  margin-left: 30%;
  border-radius: 1em;
  font-size: 1em;
  outline: none;
  padding-left: 1em;
  border-color: $application-blue;
  font-family: 'Open Sans';
  font-weight: bold;
  transition: border-width 0.3s linear;
}

%post-login-button{
  margin-top: 2em;
  height: 1.5em;
  border-radius: 0.5em;
  color:$white;
  font-weight: bold;
  font-size: 1.5em;
  background-color: $application-blue;
  @extend %make-post-margin;
  cursor: pointer;
  outline: none;
  @extend %drop-shodow;
}

%make-post-button{
  grid-row: 5;
  margin-top: 2em;
  height: 1.5em;
  border-radius: 0.5em;
  color:$white;
  font-weight: bold;
  font-size: 1.5em;
  background-color: $application-blue;
  @extend %make-post-margin;
  outline: none;
  @extend %drop-shodow;
  margin-bottom: 1em;
}
