$application-gray: #C4C4C4;
$drop-showdow:#282D33;
$application-bue:#006c92;
$white:#ffff;

%drop-shodow {
  box-shadow: 1px 4px 9px 0px $drop-showdow;
}

%profile-picture {
  border: 1px solid $application-bue;
  border-radius: 100%;
  width: 40px;
  align-self: center;
}

%make-post-margin{
  grid-column: 1 / span 3;
  margin-left: 4em;
  margin-right: 4em;
}

%buttons{
  width: 3.5em;
  border-radius: 1em;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  @extend %drop-shodow;
}
%selected-button{
  width: 3.85em;
  background-color: $application-bue;
}
%post-input{
  resize: none;
  grid-row: 4;
  @extend %make-post-margin;
  margin-top: 2em;    
  margin-left: 5em;
  margin-right: 5em;
}